doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Simon Frey – Bewerbung
    link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')
    script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')
    link(href='css/styles.css', rel='stylesheet')

  body#page-top
    // Side Nav
    nav#sideNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.custom-bg
      a.navbar-brand.js-scroll-trigger(href='#page-top')
        span.d-block.d-lg-none Simon Frey
        span.d-none.d-lg-block
          img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(
            src='assets/img/Qu_Bewerbungsfoto.jpg',
            alt='Profilbild'
          )
      button.navbar-toggler(
        type='button',
        data-bs-toggle='collapse',
        data-bs-target='#navbarResponsive',
        aria-controls='navbarResponsive',
        aria-expanded='false',
        aria-label='Toggle navigation'
      )
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Über mich
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#skills') Skills
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#experience') Erfahrung
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#education') Bildung
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#books') Amazon
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Kontakt

    .container-fluid.p-0
      .container-fluid.p-0

  // About
  section#about.resume-section
    .resume-section-content
      h1.mb-0 Simon 
        span.text-primary Frey

      h2.mb-0(style="margin-bottom: 8rem;")
        | Unternehmer · Student · Musiker

      .subheading.mb-5
        | Ludwigstraße 5 · 70839 Gerlingen · 
        a(href='mailto:frey.kunst@gmail.com') frey.kunst@gmail.com

      p.lead.mb-3
        | Mit einem facettenreichen Hintergrund als Unternehmer, Musiker, Selfpublisher und technikaffiner Gestalter verbinde ich unternehmerische Eigeninitiative mit kreativer Markenentwicklung und datenbasierter Strategie. In meinem Amazon-KDP-Business habe ich über 20 Print-on-Demand-Titel veröffentlicht – darunter ein Topseller auf Platz 24 der Amazon-Büchercharts (BSR). Die komplette Umsetzung – von der datengetriebenen Nischenrecherche über Produktentwicklung und Positionierung bis hin zu Listing-Optimierung und PPC-Kampagnen – erfolgte eigenverantwortlich und marktorientiert mithilfe von Tools wie Helium 10, Amazon Ads Console und Pinterest Ads.

      p.lead.mb-3
        | Durch meine vielseitigen Erfahrungen als Tontechniker, Musiker, Creative Director, Mediengestalter und Eventlogistiker haben meine Fähigkeit geschärft, kreative Ideen umzusetzen und zu implementieren. Teams zu koordinieren und strategisch wie operativ mitzuwirken. Aktuell vertiefe ich mein Wissen in Wirtschaftsinformatik mit Fokus auf IT-Infrastruktur, Softwareentwicklung und BWL. Ich bringe praxisnahe Erfahrung in HTML, CSS, JavaScript, Python, Adobe Suite und KI-Implementierungen mit.

      p.lead.mb-5
        | Euer Team von eFly passt deshalb wie die Faust aufs Auge. Es wäre mir eine Freude euch kennen zu lernen und hoffe mich in einem Verstellunggespräch präsentieren zu dürfen.

      

  hr.m-0(style="border-top: 8px solid currentColor;")

  // Skills & Icons
  section#skills.resume-section
    .resume-section-content

      .h2.mb-5 Programming
      .icons-grid(style="margin-bottom: 6rem;")
        include ../assets/img/svg/JavaScript.svg
        include ../assets/img/svg/Python.svg
        include ../assets/img/svg/HTML.svg
        include ../assets/img/svg/CSS.svg
        include ../assets/img/svg/Java.svg
        include ../assets/img/svg/Github.svg

      .h2.mb-5 Design
      .icons-grid(style="margin-bottom: 6rem;")
        include ../assets/img/svg/Illustrator.svg
        include ../assets/img/svg/InDesign.svg
        include ../assets/img/svg/Photoshop.svg
        include ../assets/img/svg/After Effects.svg
        include ../assets/img/svg/Premiere.svg
        include ../assets/img/svg/Midjourney.svg

      .h2.mb-5 Platforms
      .icons-grid(style="margin-bottom: 6rem;")
        include ../assets/img/svg/amz.svg
        include ../assets/img/svg/h10.svg
        include ../assets/img/svg/Pinterest.svg
        include ../assets/img/svg/MacOs.svg
        include ../assets/img/svg/Linux.svg
        include ../assets/img/svg/Android.svg

  hr.m-0(style="border-top: 8px solid currentColor;")

  // Experience
  section#experience.resume-section
    .resume-section-content
      h2.mb-5 Berufserfahrung

      // Selfpublisher & Unternehmer
      
      // für Berufserfahrung und Education-Überschriften
      h3.mb-3 #[span.text-primary Selfpublisher & Unternehmer] #[span.text-dark  // 2021–2022, seither passive Betreuung]
      .subheading.mb-2 Amazon KDP – Eigenverlag
  
      p
        | Aufbau und Skalierung eines eigenständigen Selfpublishing-Business mit 21 veröffentlichten Print-on-Demand-Titeln, darunter ein Bestseller auf Platz 24 der Amazon-Büchercharts (BSR).
        br
        | Ich verantworte die vollständige Umsetzung – von Nischenrecherche, Positionierung, Produktentwicklung und Zielgruppenanalyse bis hin zur datenbasierten Vermarktung über die Amazon Ads Console sowie Pinterest Ads.
        br
        | Strategische Entscheidungen basierten auf fundierten Marktanalysen und dem gezielten Einsatz von Tools wie Helium 10.
      ul
        li Topseller mit BSR 24
        li Veröffentlichung von 21 Buchtiteln über Amazon KDP
        li Datenbasierte Konzeption, Umsetzung und Optimierung strategischer PPC-Kampagnen (Amazon Ads, Pinterest)
        li Performance-orientierte Identifizierung lukrativer Nischen sowie Outperformance anderer Marktteilnehmer durch Positionierung und/oder Qualität
        li Listing-Optimierung auf Datenbasis durch Zielgruppenbefragungen, Ad-Monitoring und Tools wie Helium 10
        li Strategische Nutzung von Launchphasen (Honeymoon-Phase) inkl. professionellem, richtlinienkonformem Rezensionsmanagement

      // Lagerist & Konfektionierer – Veranstaltungstechnik
      h3.mt-5.mb-3 #[span.text-primary Lagerist & Konfektionierer] #[span.text-dark  // 2022–2025]
      .subheading.mb-2 Neumann & Müller, Neuhausen auf den Fildern
      p
        | Technische Konfektion und Instandhaltung von Seilabhängungen für Messe- und Veranstaltungsbauten – mit Fokus auf Materialprüfung, Rückbau und Kommissionierung im Bereich Rigging und Eventlogistik.
        br
        | In enger Zusammenarbeit mit Teamleiter:innen war ich aktiv an Prozessoptimierungen beteiligt und entwickelte eine einfache Inventur-App, um Lagerabläufe effizienter, körperlich entlastender und weniger fehleranfällig zu gestalten.
      ul
        li Mitwirkung bei der Digitalisierung und Strukturierung interner Abläufe zur Steigerung der Arbeitsqualität
        li Entwicklung einer Inventur-App zur digitalen Prozessunterstützung
        li Konfektion und Prüfung von Stahlseilabhängungen, sowie Kommissionierung, Rückbau, Instandhaltung
        li Mitarbeit in Messe- und Bühnentechnik-Prozessen

      // Live-Musiker & Showproduktion – China-Tourneen
      h3.mt-5.mb-3 #[span.text-primary Interkulturelle Live-Tournee – China] #[span.text-dark  // 2017–heute]
      .subheading.mb-2 China & Hongkong
      p
        | Seit mehreren Jahren wirke ich als Musiker regelmäßig bei einer internationalen Tournee in über 20 chinesischen Städten mit. Neben der Bühnenperformance übernehme ich Verantwortung für Tourorganisation, Technikkoordination, Mediengestaltung und Showdesign. Darüber hinaus bin ich aktiv in die Entwicklung des Brandings eingebunden – von der strategischen Positionierung bis zur visuellen Markenkommunikation – und gestalte das interkulturelle Gesamtkonzept der Tournee maßgeblich mit. Fortlaufend erarbeiten wir ein interkulturelles Livekonzept, das deutsches und chinesisches Repertoire verbindet.
      ul
        li Über 300 Shows in China & Hongkong
        li Entwicklung eines interkulturellen Showkonzepts
        li Gestaltung von Bühneninhalten, Visuals & Werbematerialien
        li Zusammenarbeit mit lokalen Partner:innen & interkulturelle Abstimmung

      // Tontechniker & Musikproduktion
      h3.mt-5.mb-3 #[span.text-primary Tontechniker & Musikproduktion] #[span.text-dark  // 2018–2020]
      .subheading.mb-2 Soundmann Tonstudio Stuttgart
      p
        | Als verantwortlicher Tontechniker betreute ich Musikproduktionen von der Aufnahme bis zum finalen Mastering – für regionale wie internationale Künstler:innen.
        br
        | Neben der technischen Umsetzung übernahm ich Projektverantwortung und begleitete Künstler:innen auf dem Weg zur Marktreife – inklusive Beratung zu Songwriting, Arrangement, Sounddesign, Tour-Booking, Release-Vorbereitung und digitaler Distribution.
        br
        | Der Fokus lag auf professionellen Produktionsstandards, strukturierten Workflows und enger Zusammenarbeit mit den Artists.
      ul
        li Vollständige technische Betreuung (Recording, Editing, Mixing, Mastering)
        li Beratung bei Komposition, USP und Positionierung
        li Entwicklung marktreifer, zielgruppenoptimierter Musikprojekte
        li Tools: Steinberg Cubase, Apple Logic Pro

      // Film- & Videoassistenz
      h3.mt-5.mb-3 #[span.text-primary Film- & Videoassistenz] #[span.text-dark  // 2015–2021]
      .subheading.mb-2 Raum Stuttgart
      p
        | Im Rahmen eigenverantwortlicher Musik- und Eventproduktionen entwickelte ich visuelle Konzepte mit klarem Fokus auf Zielgruppenansprache und Markenpositionierung.
        br
        | Kreative Entscheidungen traf ich dabei stets strategisch auf Basis individueller USPs.
        br
        | Durch die praktische Umsetzung konnte ich fundierte Kenntnisse in Adobe Premiere Pro und After Effects aufbauen.
      ul
        li Entwicklung zielgruppenorientierter Videokonzepte
        li Strategische Ausrichtung auf USP und Positionierung
        li Projektverantwortung in Konzeption, Umsetzung & Abstimmung
        li Tools: Adobe Premiere Pro & After Effects

      // Musiker
      h3.mt-5.mb-3 #[span.text-primary Musiker] #[span.text-dark  // 2013-heute]
      .subheading.mb-2 Raum Stuttgart & international
      p
        | Als Musiker verantworte ich Booking, Veranstaltungsplanung, Design und Liveproduktionen – sowohl für eigene Projekte als auch für externe Künstler:innen. Ich entwickle kreative Konzepte, begleite Markenauftritte, koordiniere die Umsetzung auf und hinter der Bühne und sorge für einen stimmigen Gesamtauftritt – musikalisch wie visuell.
        br
        | Zwei veröffentlichte Studioalben sowie Songwriting- und Kompositionsbeteiligungen für andere Künstler:innen zeigen meine kreative Handschrift und meine Fähigkeit, Musikprojekte erfolgreich am Markt zu platzieren.
      ul
        li Veröffentlichung von zwei eigenen Studioalben
        li Miturheberschaft im Songwriting und Komposition für Studioalben anderer Künstler:innen
        li Konzeption und Leitung kreativer Projekte (Musik, Bühne, Design)
        li Organisation, Booking und Veranstaltungsdurchführung

      // Praxissemester Musiktherapie
      h3.mt-5.mb-3 #[span.text-primary Praxissemester Musiktherapie] #[span.text-dark  // WiSe 2014/15]
      .subheading.mb-2 Zentrum für Psychiatrie Winnenden
      p
        | Im Rahmen meines Musiktherapie-Studiums begleitete ich stationäre Patient:innen in Einzel- und Gruppensettings auf offenen und geschlossenen Stationen – insbesondere in den Bereichen Psychosomatik, Geriatrie und Neurologie.
        br
        | Dabei übernahm ich Verantwortung für die eigenständige Therapieplanung, Durchführung musiktherapeutischer Interventionen und die Dokumentation der Behandlungsverläufe.
        br
        | Ein zentraler Fokus lag auf der interdisziplinären Zusammenarbeit mit Pflegepersonal, Ärzt:innen und Therapeut:innen im multiprofessionellen Setting.
      ul
        li Durchführung musiktherapeutischer Einzel- & Gruppensitzungen
        li Betreuung psychosomatischer und neurologischer Patient:innen
        li Therapieplanung, Evaluation & Dokumentation
        li Zusammenarbeit mit ärztlichem & therapeutischem Fachpersonal

      // Bundesfreiwilligendienst – Musikpädagogik & Veranstaltungstechnik
      h3.mt-5.mb-3 #[span.text-primary Bundesfreiwilligendienst] #[span.text-dark  // 2012–2013]
      .subheading.mb-2 Kulturzentrum Jugendhaus Leonberg e. V.
      p
        | Im Rahmen meines Bundesfreiwilligendienstes begleitete ich musisch-pädagogische Angebote für Jugendliche und war aktiv an der Organisation und Durchführung kultureller Veranstaltungen beteiligt.
        br
        | Durch eigene kreative Impulse und zielgruppenorientierte Projektideen etablierte ich neue Angebote, die spürbar zur steigenden Besucherfrequenz im Jugendhaus beitrugen.
      ul
        li Leitung & Betreuung einer Schülerband
        li Entwicklung neuer Veranstaltungsformate zur Besuchergewinnung
        li Unterstützung bei Technik & Durchführung von Events

  hr.m-0(style="border-top: 8px solid currentColor;")

  // Education
  section#education.resume-section
    .resume-section-content
      h2.mb-5 Bildung

      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 B.Sc. Wirtschaftsinformatik (Fernstudium)
          .subheading.mb-3 #[span.text-primary Fachhochschule Kiel · seit 2024]
          p
            | Berufsbegleitendes Studium mit Schwerpunkten in IT-Infrastruktur, Softwareentwicklung, Datenbanken und Betriebswirtschaft.
            br
            | Vertiefung in datenbasiertem Marketing, Webtechnologien, API-Nutzung sowie IT-Projektmanagement.
    

      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Nomad Publishing Coaching – Weiterbildung im Amazon Selfpublishing
          .subheading.mb-3 #[span.text-primary Online · 2022]
          p
            | Umfassende Fortbildung im Bereich Amazon Kindle Direct Publishing (KDP) mit Fokus auf datenbasiertes Marketing, systematische Nischenrecherche, Ghostwriting-Koordination, Buchpositionierung, Copywriting, Formatierung, Launch-Strategien und PPC über Amazon Ads.
            br
            | Ergänzt durch vertiefte Inhalte zu skalierbaren Produktstrukturen, conversion-optimiertem Listing und strategischer Markenentwicklung. Know-how übertragbar auf Amazon FBA, E-Commerce und Content Marketing.

      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 B.A. Musiktherapie (ohne Abschluss)
          .subheading.mb-3 #[span.text-primary SRH Hochschule Heidelberg · 2013–2015]

          p
            | Praxisnahes Studium mit medizinisch-psychologischer Grundlage zur gezielten therapeutischen Anwendung von Musik.
            br
            | Vermittelte Kompetenzen u. a. in Musikimprovisation, Gesprächsführung und Krankheitslehre mit Fokus auf klinische Praxis.

      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Fachhochschulreife
          .subheading.mb-3 #[span.text-primary Mathilde-Planck-Schule Ludwigsburg · Abschluss 2013]
          p
            | Sozialwissenschaftliches Gymnasium mit Schwerpunkten in Pädagogik, Soziologie und Psychologie.

      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 Mittlere Reife
          .subheading.mb-3 #[span.text-primary Realschule Gerlingen · Abschluss 2009]

  hr.m-0(style="border-top: 8px solid currentColor;")

  // Meine Bücher (Amazon‑Projekte)
  section#books.resume-section
    .resume-section-content
      h2.mb-5 Meine Bücher
      #books-grid
        // Zeile 1: 2 + 1
        a.item.item1(href='https://www.amazon.de/dp/B091G6S49X', target='_blank')
          img(src='assets/img/webp/mama.webp', alt='Malbuch für Mamas')
          .hover-overlay Auf Amazon ansehen
        a.item.item2(href='https://www.amazon.de/dp/B08WZJK24M', target='_blank')
          img(src='assets/img/webp/fremde.webp', alt='Schimpfwörter Malbuch für Erwachsene')
          .hover-overlay Auf Amazon ansehen
        a.item.item3(href='https://www.amazon.de/dp/B09JJGWV3P', target='_blank')
          img(src='assets/img/webp/Mockup_Herbst.webp', alt='Herbst Prickelbilder Bastelbuch für Kinder')
          .hover-overlay Auf Amazon ansehen

        // Zeile 2: 1 + 1 + 1
        a.item.item4(href='https://www.amazon.de/dp/B0975ZCPD8', target='_blank')
          img(src='assets/img/webp/Teenie.webp', alt='Malbuch für Teenager Mädchen')
          .hover-overlay Auf Amazon ansehen
        a.item.item5(href='https://www.amazon.de/dp/B08X63FLGN', target='_blank')
          img(src='assets/img/webp/ostern.webp', alt='Frohe Ostern Prickelbilder')
          .hover-overlay Auf Amazon ansehen
        a.item.item6(href='https://www.amazon.de/dp/B09L3FLY3T', target='_blank')
          img(src='assets/img/webp/Bucketlist.webp', alt='Bucketlist für Mamas')
          .hover-overlay Auf Amazon ansehen

        // Zeile 3: 1 + 2
        a.item.item7(href='https://www.amazon.de/dp/B09RLNCVXM', target='_blank')
          img(src='assets/img/webp/Ninja.webp', alt='Ninja Schatzsuche zum Kindergeburtstag')
          .hover-overlay Auf Amazon ansehen

  hr.m-0(style="border-top: 8px solid currentColor;")


// Contact
section#contact.resume-section.pt-3
  .resume-section-content.text-center
    h2.mb-4 Kontakt

    // Adresse
    .subheading.mb-2
      | Ludwigstraße 5 · 70839 Gerlingen

    // Telefonnummer
    p.mb-3
      | Mobil: +49 157 306 378 08

    // Buttons
    .d-flex.justify-content-center.gap-3
      a.btn.btn-primary(href='https://www.linkedin.com/in/simon-frey-461036368/' target='_blank')
        i.fab.fa-linkedin-in.me-2
        | LinkedIn
      a.btn.btn-secondary(href='mailto:frey.kunst@gmail.com')
        i.fas.fa-envelope.me-2
        | E‑Mail schreiben
